<!DOCTYPE html>
    <html>
        <head>

        </head>
        <body>
            <h1>Chat App</h1>
            <form id="sub">
                <input type="text" placeholder="write a message">
                <button>Submit</button>
            </form>
            <button id="send-location">Send Location</button>
            <script src="/socket.io/socket.io.js"></script>
            <script src="../public/js/chat.js"></script>
        </body>
    </html>